

body{
  /* height: 100vh; */
  /* margin: 50px; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-family: 'poppins', sans-serif;
}
.movie-poster{
  height: 450px;
  width: 300px;
  object-fit: cover;
}
.movie-container{
  width: 300px;
}
.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-rating{
  font-size: 18px;
  font-weight: 400;
}
.movie-name{
  font-size: 24px;
  margin: 0;
} 
.movie-list{
  padding: 24px;
display: flex;
/* align-items: center;
/* flex-direction: column; */
justify-content: space-evenly;
gap: 24px;
flex-wrap: wrap;
}
.likes-dislikes{
  font-size: 30px;
}
.counter-container{
  display: flex;
  gap: 10px;
}
.movie-show-button{
  margin-bottom: 10px;
  font-size: 18px;
}
.add-movie-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  }
.movie-detail-container{
  max-width: 50rem;
  padding: 1rem;
}